.color a {
	color: white;
	text-decoration: none;
}
.numeros {
	color: white;
	text-decoration: none;
}
.active {
	background-color: rgb(36, 209, 67);
	border: none;
	color: white;
	text-decoration: none;
}
