.input {
  width: 30%;
  border-radius: 8px;
  border: solid #75ef9e 1px;
  box-shadow: -2px -1px 11px #75ef9e;
}

.input:focus {
  outline: none;
}

.contenedor {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
